* {
  box-sizing: border-box;
}
:root {
  /* Game Colors */
  --light-red: #f79996;
  --red: #f05a63;
  --blue: #7be1e1;
  --grey: #b2b2b2;
  --violet: #2800ff;
  --violet-light: #5a78ff;
  --pink: #ff7698;
  --pink-light: #fec1ee;
  --green: #05f293;
  --green-light: #9be7d8;
  --yellow: #ffff60;
  --purple: #9480ff;
  /* Game Setting */
  --maze-size: 70vh;
  --maze-num: 25;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: var(--light-red);
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  padding: 10px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

#title {
  color: #fff;
  font-weight: 600;
  margin-top: 0.5em;
  font-size: 3em;
  letter-spacing: 4px;
  text-align: center;
}

.mazeShadow {
  background: white;
  display: inline-block;
  padding: 8px;
  border-radius: 14px;
}

.Maze {
  border-radius: 14px;
  width: var(--maze-size);
  height: var(--maze-size);
  display: grid;
  grid-template-columns: repeat(var(--maze-num), auto);
  grid-template-rows: repeat(var(--maze-num), auto);
  grid-gap: 1px;
  padding: 2px;
  border: 5px solid black;
}

.cell {
  background: var(--blue);
}

.food,
.head,
.tail {
  border: 3px solid black;
  margin: -3px;
  z-index: 100;
}
.food {
  background-color: var(--violet-light);
  border-radius: 50%;
}
.head {
  background-color: var(--red);
}
.tail {
  background-color: var(--green);
}
.Controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button,
.resultContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-red);
  border: 3px solid black;
  border-radius: 3px;
  margin: 0;
  padding: 8px 14px;
  fill: var(--red);
  stroke: black;
  stroke-width: 3px;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 3px var(--grey);
  cursor: pointer;
  height: 50px;
  width: 150px;
  background: var(--blue);
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

button span {
  margin-left: 2px;
  margin-right: 14px;
}

.resultContainer {
  background-color: var(--red);
  margin-right: 20px;
  text-align: center;
}

.start {
  background-color: #00b894;
}

.stop {
  background-color: #d63031;
}

.reload {
  background-color: #d63031;
}

.hidden {
  display: none;
}
